/*RESET*/
body { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; margin:0; padding:0; background:#124c9c;}

a { cursor:pointer; text-decoration:none; }

img { border:none; }

li { list-style:none; }

input, select, textarea, select{color:#7b7a75;}

.center{margin:0 auto; width:980px;}
/*RESET*/

/*CABEÇALHO*/
.header{
	float:left;
	width:100%;
	height:61px;
	position:absolute;
	background:url(../img/bg-header.png); 
}
	.header .center .login{
		float:right;
		width:630px;
		padding-top:10px;
	}
	.header .center .login a{
		float:left;
		color:#fff;
		font-weight:bold;
		text-align:center;
	}
	.header .center .login img{
		float:left;
	}
	.header .center .login form .campo{
		float:left;
		width:190px;
		margin-right:10px;
	}
	.header .center .login form .campo label.error{
		float:left;
		width:auto;
		color:#fff;
		font-size:11px;
		font-weight:bold;
	}
	.header .center .login form .campo input{
		float:left;
		width:180px;
		height:28px;
		border:none;
		margin:0 10px 0 0;
		padding:0 0 0 10px;
	}
	.header .center .login form .campo input.login{
		background:url(../img/login_03.jpg) left no-repeat #fff;
	}
	.header .center .login form .campo input.senha{
		background:url(../img/login_05.jpg) left no-repeat #fff;
	}
	.header .center .login form .campo input.senha-b, .header .center .login form .campo input.login-b{
		background-image:none;
		background-color:#fff;
	}
	.header .center .login form input[type=submit]{
		float:left;
		width:41px;
		height:28px;
		cursor:pointer;
		border:none;
		margin-right:5px;
		background:url(../img/login-header-ok.jpg);
	}
/*CABEÇALHO*/
	
/*CONTEUDO*/
.content{
	float:left;
	width:100%;
	height:auto;
	background:#000;
	margin:-10px 0 0 0;
	padding:70px 0 0 0;
	overflow:hidden;
	background:url(../img/bg-home.jpg) -875px 40px;
}
	.content .center{
		width:980px;
		height:auto;
		padding-left:20px;
		background:#f5f5f5;
		overflow:hidden;
		margin-top:-10px;
	}
	.content .center .slideshow{
		float:left;
		width:570px;
		height:400px;
		padding:50px 0 0 0;
	}
	.content .center .slideshow .viewport {
		padding:0;
		float:left;
		width:470px;
		height:400px;
		overflow:hidden;
		position:relative;
		margin:0 50px 0 40px;
	}
	.content .center .slideshow .buttons { 
		width:500px;
		display: block;
		overflow: hidden;
		margin:-200px 0 0 0;
		text-indent: -999em;
	}
	.content .center .slideshow .next {
		padding:0;
		top:-20px;
		right:10px;
		width:40px;
		height:40px;
		float:right;
		z-index:99999;
		position:relative;
		background:url(../img/next.jpg);
	}
	.content .center .slideshow .prev {
		padding:0;
		top:-20px;
		left:-10px;
		float:left;
		width:40px;
		height:40px;
		position:relative;
		background:url(../img/prev.jpg);
	}
	.content .center .slideshow .overview {
		margin:0;
		padding:0;
		width:470px;
		list-style:none;
		position:absolute;
	 }
	.content .center .slideshow .overview li{
		float:left;
		height:auto;
		width: 470px;
		margin-right:10px;
	}
	.content .center .desc{
		float:left;
		width:390px;
	}
	.content .center .desc a.logo{
		float:left;
		width:100%;
		margin:20px 0;
	}
	.content .center .banner{
		float:left;
		padding:25px 0;
	}
	.content .center .convide{
		float:left;
		width:470px;
		text-align:center;
		margin:0 0 80px 20px;
	}
	.content .center .convide h2{
		color:#065ed8;
		font-size:18px;
		margin:25px 0 0 0;
	}
	.content .center .desc h1{
		color:#124b9a;
		font-size:36px;
		font-weight:normal;
	}
	.content .center .desc p, .content .center .convide p{
		color:#999;
		font-size:13px;
	}
	.content .center .convide p{
		margin:10px 0;
	}
	.content .center .chamada-cadastro{
		float:left;
		width:700px;
		height:45px;
		text-align:center;
		background:#e6edf7;
		margin:0 20px 0 0;
		border:1px solid #d3dae5;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		behavior: url(border-radius.htc);
	}
	.content .center .chamada-cadastro p{
		color:#294b7b;
		font-size:17px;
		font-weight:bold;
		margin:12px 0 0 0;
	}
/*CONTEUDO*/

/*RODAPE*/
.footer{
	float:left;
	width:100%;
	height:117px;
	background:url(../img/bg-footer.jpg);
}
.footer .center .click-house{
	float:right;
	width:200px;
	text-align:right;
}
.footer .center .click-house .click{
	float:right;
	margin:20px 0 0 0;
}
.footer .center .click-house .house{
	float:right;
	margin:-55px -12px 0 0;
}
.footer .center .menu, .footer .center .copyright{
	float:left;
	width:530px;
	padding-bottom:20px;
	border-bottom:1px dotted #fff;
}
.footer .center .copyright{
	border:none;
	color:#fff;
	padding-top:10px;
}
.footer .center .menu ul{
	margin:0;
	padding:30px 0 0 0;
}
.footer .center .menu ul li{	
	margin:0;
	float:left;
	height:10px;
	padding:0 9px 0 10px;
	border-right:1px solid #fff;
}
.footer .center .menu ul li.first{	
	padding-left:0;
}
.footer .center .menu ul li.last{	
	border:none;
	padding-right:0;
}
.footer .center .menu ul li a{
	color:#fff;
	float:left;
	font-size:12px;
	font-weight:bold;
	margin:-3px 0 0 0;	
}
/*RODAPE*/
